body {
  background: rgb(68, 158, 158);
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1.5rem;
}

form {
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0;
  gap: 1vw;
}

input {
  border-radius: 8px;
  width: 400px;
  border: 1px solid blueviolet;
  padding: 0.8rem;
  font-size: 1.3rem;
}

input[type="submit"] {
  width: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: lightsteelblue;
  transition: transform 0.2s ease;
}

input[type="submit"]:hover {
  transform: scale(1.1);
}

input[type="submit"].clicked {
  transform: scale(0.9);
}

.line {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
}

.star {
  color: crimson;
  padding-left: 3px;
  font-size: 1.3rem;
}

p {
  margin: 0;
}