body {
  background: darkslategray;
  display: flex;
  justify-content: center;
}

form {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 8vh 0;
  gap: 1vw;
  justify-content: center;
}

input {
  border-radius: 8px;
  min-width: 400px;
  border: 1px solid blueviolet;
  padding: 0.8rem;
  font-size: 1.3rem;
}

input:last-of-type {
  min-width: 200px;
}